<nav
  *ngIf="mostrarMenu"
  class="navbar navbar-expand-lg navbar-dark bg-primary"
>
  <a class="navbar-brand"
    routerLink=""
  >
    Rotas
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li
        class="nav-item"
        routerLinkActive="active"
      >
        <a class="nav-link"
          routerLink="/login"
        >
          Login<span class="sr-only">(current)</span>
        </a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
      >
        <a
          class="nav-link"
          routerLink="/cursos"
          [queryParams]="{pagina:1}"
        >
          Cursos
        </a>
      </li>
      <!-- <li
        routerLinkActive="active"
        class="nav-item"
      >
        <a class="nav-link"
          [routerLink]="['cursos', idCurso.value]"
        >
          Curso com ID
        </a>
      </li> -->
      <li
        routerLinkActive="active"
        class="nav-item"
      >
        <a class="nav-link"
          routerLink="/alunos"
        >
          Alunos
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="container">
  <p>Entre com o ID do curso</p>
  <input type="text" #idCurso>
  <br><br>

</div> -->
<router-outlet></router-outlet>
