<h1>Detalhes do aluno</h1>

<p>
  Id: {{ aluno.id }}
</p>
<p>
  Nome: {{ aluno.nome }}
</p>
<p>
  email: {{ aluno.email }}
</p>

<button class="btn btn-primary"
  (click)="editarContato()"
>
  Editar
</button>
