<div class="container">
  <h1>Login</h1>

  <div class="mb-3">
    <label
      for="formGroupExampleInput"
      disabled
      class="form-label"
    >
      Usuário
    </label>
    <input
      [(ngModel)]="usuario.nome"
      type="text"
      class="form-control"
      id="usuario"
    >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" disabled class="form-label">Senha</label>
    <input
      [(ngModel)]="usuario.senha"
      type="password"
      class="form-control"
      id="senha"
    >
  </div>
  <button class="btn btn-primary" (click)= "fazerLogin()">Login</button>
</div>
