<h1>Exemplos de Pipes</h1>

<p>Título: {{ livro.titulo | uppercase | camelCase}}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>{{livro | json}}</p>

<br><br>

<input type="text" [(ngModel)]="filtro">

<br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h1>Pipe Puro</h1>

<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro">
        {{ liv }}
    </li>
</ul>

<br>

<h1>Pipe Impuro</h1>

<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro">
        {{ liv }}
    </li>
</ul>

<br>

<h1>Maneira correta de fazer filtros</h1>

<br>

<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro">
        {{ liv }}
    </li>
</ul>

<br><br><br>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>