<h1>Lista de alunos</h1>
<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    *ngFor="let aluno of alunos"
    [routerLink]="[aluno.id]"
  >{{ aluno.nome }}</a>
</div>
<router-outlet></router-outlet>
