<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos:
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados
</div>

<br><br>

<div *ngIf="mostrarCursos">
  Lista de cursos:
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados
</div>

<br>

<button (click) = "onMostrarCursos()"> Mostrar Cursos </button>

<br><br>

<h5>Alternativa Hidden: Melhor do ponto de vista de desempenho</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos:
</div>

<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados
</div>

<br><br>

<h5>Removendo o * e usando template</h5>
<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>

<ng-template [ngIf] = "mostrarCursos">
  <div>
    Lista de cursos aqui.
  </div>
</ng-template>

<div template="ngIf mostrarCursos">
  Lista de cursos aqui.
</div>

