<p>diretiva-ngclass works!</p>

<h1>
  <!-- <i-bs name="star" 
    *ngIf="!meuFavorito" 
    (click) = "onClick()"></i-bs> -->
  <i-bs name="star-fill" 
    [ngClass] = "{
      'azul': meuFavorito,
      'vermelha': !meuFavorito
    }"
    (click) = "onClick()"></i-bs>
</h1>

