<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->

<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ngcontent>
  <div class="titulo">Titulo</div>
  <div class="corpo">
    <strong>Conteúdo passado para o componente</strong>
    <app-operador-elvis></app-operador-elvis>
  </div>

  <div class="corpo">
    <strong>Conteúdo passado para o componente 2</strong>
  </div>
</app-exemplo-ngcontent> -->

<app-diretivas-customizadas></app-diretivas-customizadas>