<p>Lista de cursos</p>
<p>Página: {{ pagina }}</p>

<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    *ngFor="let curso of cursos"
    [routerLink]="['/cursos', curso.id]"
  >{{ curso.nome }}</a>
</div>

<br><br>

<button
  class="btn btn-primary"
  (click)="proximaPagina()"
>
  Próxima página
</button>
