<!-- <app-ciclo [valorInicial] = "valor" *ngIf="!deletarCiclo"></app-ciclo>

<button (click) = "mudarValor()">Mudar Valor</button>

<button (click) = "destruirCiclo()">Deletar</button> -->

<app-data-binding></app-data-binding>