<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" 
        [class.active] = "aba == 'home'"
        (click) = "aba = 'home'">Home</a>
        <a class="nav-link"
        [class.active] = "aba == 'features'"
        (click) = "aba = 'features'">Features</a>
        <a class="nav-link"
        [class.active] = "aba == 'pricing'"
        (click) = "aba = 'pricing'">Pricing</a>
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<div class="container"
[ngSwitch]="aba">
  <p *ngSwitchCase="'features'">Modo feature ativado</p>
  <p *ngSwitchCase="'pricing'">Modo pricing ativado</p>
  <p *ngSwitchDefault>Modo home ativado</p>
</div>