<h1>
  Criar/Editar Aluno
</h1>

<div class="mb-3">
  <label for="formGroupExampleInput" disabled class="form-label">#</label>
  <input type="text"
    class="form-control"
    disabled
    id="formGroupExampleInput"
    [(ngModel)]="aluno.id">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" disabled class="form-label">Nome</label>
  <input type="text"
    class="form-control"
    id="formGroupExampleInput"
    [(ngModel)]="aluno.nome"
    (input)="onInput()"
  >
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" disabled class="form-label">E-mail</label>
  <input type="text"
    class="form-control"
    id="formGroupExampleInput"
    [(ngModel)]="aluno.email">
</div>

