<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
      <app-curso [nome] = "nomeDoCurso"></app-curso>

      <app-contador [valor]="valorInicial"
      (mudouValor) = "onMudouValor($event)"></app-contador>
  </article>
</section>



<section class="class-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
      <app-curso [nome] = "nomeDoCurso"></app-curso>
  </article>
</section>



<section class="two-way-data-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text"
      [value]="nome"
      (input) = "nome = $any($event).target.value">

      <input type="text"
      [ngModel]="nome"
      (ngModelChange) = "nome = $event">
    </div>

    <input type="text"
    [(ngModel)]="nome">

    <p>Meu nome é {{ pessoa.nome }} e eu tenho {{ pessoa.idade }} anos de idade.</p>
    <input type="text"
    [(ngModel)] = "pessoa.nome">
    <input type="text"
    [(ngModel)] = "pessoa.idade">
    <p>Você digitou: {{ nome }}</p>
  </article>
</section>





<section class="property-binding">
  <article>
    <h3>Event binding</h3>
    <div>
      <button class="btn btn-primary"
      (click) = "botaoClicado()">
        Me clique!
      </button>

      <br><br>

      <input type="text"
      (keyup) = "onKeyUp($event)"
      (keyup.enter) = "salvarValor(campoInput.value)"
      (blur) = "salvarValor($any($event).target.value)"
      #campoInput/>

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br>

      <span
      (mouseover) = "onMouseOverOut()"
      (mouseout) = "onMouseOverOut()"
      [class.highlight] = "isMouseOver == true">
        Passe o mouse sobre mim!
      </span>
    </div>
  </article>

  <article>
    <h3>Interpolation / Interpolação</h3>  
    <!-- Interpolação é mais util para utilização dentro de uma string -->
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 != {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <!-- Property binding é mais util para execucão de métodos ou coisas curtas -->
    <!-- Sintax sugar para bind-src (pode ser usado para várias propriedades) -->
    <!-- Quando não existe uma propriedade no elemento usa-se [attr.colspan] -->
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:

      <select #classe (change) = "0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>      
      <br><br>
      
      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme o valor do combobos.
      </div>

      <div class="alert" role="alert"
      [class.alert-success] = "classe.value == 'alert-success'">
        This is a success alert—check it out!
      </div>
      <div class="alert" role="alert"
      [class.alert-danger] = "classe.value == 'alert-danger'">
        This is a danger alert—check it out!
      </div>
      <div class="alert" role="alert"
      [class.alert-warning] = "classe.value == 'alert-warning'">
        This is a warning alert—check it out!
      </div>
      <div class="alert" role="alert"
      [class.alert-info] = "classe.value == 'alert-info'">
        This is a info alert—check it out!
      </div>

      <div class="alert" role="alert"
      [class.alert-info] = "classe.value == 'alert-info'"
      [style.display]="classe.value == 'alert-info' ? 'block' : 'none'">
        This is a info alert—check it out!
      </div>
    </div>

  </article>
</section>